.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {   
  background: url(fond.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

div.col-4 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25%;
  margin-top: 10%;
}

.container{
  background-color: white;
  display: block;
  border-radius: 30px;
  box-shadow: 12px 12px 2px 1px rgba(131, 131, 131, 0.2);
  padding: 5px;
  margin-top:10px;
}

.title{
  color :#000;
  text-align : center;
}

.list-group-item:hover{
  background-color: yellowgreen;
  color : white;
}

.item{
  background: transparent;
  border: transparent;
  text-align : left;
}
